.img-fit {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.img-fit-container {
    width: 500px;
    height: 500px;
    padding: 0px;
    margin: 0px;
}

.img-fit-thumbnail {
    /* display: block; */
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}